* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}
/*--------- START SCREEN -----------------*/
.start-screen {
    height: 908px;
	padding: 60px 0 0;
	background: url('../../assets/images/start-screen-gradient-background.png') 
	0 0/100% 100%;
    position: relative;
}
header {
    display: flex;
    justify-content: space-between;
    margin: 0px auto 60px;
    width: 1200px;
    height: 60px;
}
.start-screen__title {
    flex-direction: column;
    z-index: 50;
}
h1 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #F1CDB3;
    align-items: center;
    letter-spacing: 0.06em;
}
.start-screen__title__link {
    text-decoration: none;
}
.start-screen__title__link:hover {
    text-shadow: 1px 1px 2px white;
}
.start-screen__subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    align-items: center;
    letter-spacing: 0.1em;      
    padding-top: 10px;
}
.nav-menu {
    display: flex;
	justify-content: space-between;
	align-items: center;
	width: 443px;
	font-size: 15px;
	line-height: 160%;
}
.nav-menu__link a {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    text-decoration: none;
    padding-bottom: 3px;
}
.nav-menu__link a.active {
    color: #FFFFFF;
    border-bottom: 3px solid #F1CDB3; 
}
.nav-menu__link a:hover {
    color: #FFFFFF;
    border-bottom: 3px solid #F1CDB3; 
}
.burger-menu__button {
    display: none;
    z-index: 100;
}
.burger-menu {
    position: fixed;
    right: -150%;
}
.not-only {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    height: 728px;
    margin: 0 auto;
}

.not-only__text {
    width: 460px;
    height: 322px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 163px;
}
.not-only__text__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;
}
.not-only__image {
    width: 698px;
    height: 728px;
}
.not-only__text__info {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
}
.bott {
    width: 207px;
	border-radius: 26px;
	height: 52px;
	line-height: 52px;
	text-align: center;
	background-color: #f1cdb3;
	color: #292929;
	font-family: Georgia, serif;
	font-size: 17px;
	letter-spacing: 1px;
}
.bott a:link,
.bott a:visited {
	text-decoration: none;
	color: #292929;
	font-family: Georgia, serif;
}
.bott:hover {
	cursor: pointer;
	background-color: #fddcc4;
}

/*--------- START SCREEN 768 -----------------*/
@media (min-width: 768px) and (max-width: 1279px) {
    .start-screen {
        height: 1165px;
        padding: 30px 0 0;
    }
    header {
        display: flex;
        justify-content: space-between;
        margin: 0px auto;
        width: 708px;
        height: 60px;
    }
    .not-only {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 569px;
        height: 1075px;
        margin: 0 auto;
    }
    .not-only__text {
        width: 460px;
        height: 322px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 60px;
        margin-left: 60px;
    }
    .not-only__image {
        width: 569px;
        height: 593px;
    }
    .not-only__image img {
        width: 569px;
        height: 593px;
        margin-left: 60px;
    }
    .bott {
        margin: 0 auto;
    }
}

/*--------- START SCREEN 320 -----------------*/
@media (min-width: 320px) and (max-width: 767px) {
    .start-screen {
        height: 823px;
        padding: 30px 0 0;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 257px;
        height: 60px;
        margin: 0 53px 0 auto;
    }
    .burger-menu__button {
        width: 30px;
        height: 22px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: 0.5s;
        z-index: 100;
    }
    .line {
        width: 100%;
        height: 2px;
        background-color: #f1cdb3;
    }
    .not-only {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 300px;
        height: 733px;
        margin: 0 auto;
    }
    .not-only__text {
        width: 300px;
        height: 296px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 60px auto 0;
        text-align: center;
    }
    .not-only__text__title {
        font-size: 25px;
    }
    
    .not-only__image {
        width: 260px;
        height: 272px;
        padding-left: 40px;
    }
    .not-only__image img {
        width: 260px;
        height: 272px;
    }
    .bott {
        margin: 0 auto;
    }

    /* BURGER MENU */
    

    .hidden {
        overflow: hidden;
    }
    .nav-menu {
        top: 0;
        right: 0;
        flex-direction: column;
        width: 320px;
        height: 100vh;
        background-color: #292929;
        z-index: 20;
        transition: 0.5s;
        position: fixed;
        right: -100%;
    }
    .nav-menu__active {
        right: 0;
    }
    .overlay {
        display: none;
        background-color: rgba(41, 41, 41, 0.6);
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        z-index: 10;
    }
    
    .nav-menu .activate {
        padding-top: 248px;
        padding-bottom: 248px;
        position: static;
    }
    .nav-menu__link a {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 160%;
        transition: 0,5s;
    }
    .burger-menu__button__active {
        transform: rotate(90deg);
    }
}
.overlay {
    display: none;
    background-color: rgba(41, 41, 41, 0.6);
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}
.overlay_active {
    display: block;
}
.hidden {
    overflow: hidden;
}

/*---------- ABOUT ----------------- */

.about {
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 588px;
    padding-top: 80px;
    padding-bottom: 100px;
	background-color: white;
    position: relative;
    margin: 0 auto;
}

.about__text {
    margin-left: 120px;
    margin-top: 14px;
    width: 430px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}

.about__image {
    width: 300px;
    height: 408px;
    margin-left: 175px;
}
h2 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 110%;
    color: #545454;
    align-items: center;
    letter-spacing: 0.06em;
}


/*---------- ABOUT 768----------------- */
@media (min-width: 768px) and (max-width: 1279px) {
    .about {
        flex-direction: column;
        width: 437px;
        height: 1048px;
        justify-content: space-between;
    }
    .about__image {
        order: 2;
        margin: 0 auto;
    }
    .about__text {
        margin: 0 auto;
    }
}

/*--------- ABOUT 320 -----------------*/
@media (min-width: 320px) and (max-width: 767px) {
    .about {
        flex-direction: column;
        width: 300px;
        height: 974px;
        justify-content: space-between;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .about__image {
        order: 2;
        margin: 0 auto;
        width: 260px;
        height: 354px;
        margin-bottom: 42px;
    }
    .about__image img {
        order: 2;
        width: 260px;
        height: 354px;
        margin-bottom: 42px;
    }
    .about__text {
        margin: 0 auto;
        text-align: justify;
        width: 270px;
        height: 494px;
        margin-top: 42px;
        margin-bottom: 42px;
    }
    h2 {
        font-size: 25px;
        text-align: center;
    }
    
}

/*---------- PETS ----------------- */
.pets {
    background-color: #F6F6F6;
}
.pets_sub {
    display: flex;
    flex-direction: column;
    height: 877px;
    width: 1200px;
    padding-top: 80px;
    padding-bottom: 100px;
    position: relative;
    text-align: center;
    margin: 0 auto;
}
.slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
}
.slider_slide {
    width: 270px;
    height: 435px;
    background-color: #FAFAFA;
    border-radius: 9px;
}
.slider_slide:hover {
    background-color: #fff;
	box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
    cursor: pointer;
}
.slider_slide:hover > .slider_slide_learn {
    background-color: #fddcc4;
}
.bott-arrow  {
    width: 52px;
    height: 52px;
	background: #f6f6f6;
	border: 2px solid #f1cdb3;
	color: #292929;
	display: flex;
	align-items: center;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 192px;
}
.bott-arrow:first-child {
    margin-left: 40px;
}
.bott-arrow:last-child {
    margin-right: 40px;
}
.bott-arrow:hover {
    background: #f1cdb3;
    cursor: pointer;
}
.bott-arrow__alt {
    display: none;
}
.slider_slide_name {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin-top: 30px;
    letter-spacing: 0.06em;
    color: #545454;
}
.slider_slide_learn {
    box-sizing: border-box;
    width: 187px;
    border: 2px solid #fddcc4;
	border-radius: 26px;
	height: 52px;
	line-height: 52px;
	text-align: center;
	background-color: inherit;
	color: #292929;
	font-family: Georgia, serif;
	font-size: 17px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider_slide_learn:hover {
    background-color: #fddcc4;
    cursor: pointer;
}
.pets__bott {
    width: 261px;
	border-radius: 26px;
	height: 52px;
	line-height: 52px;
	text-align: center;
	background-color: #F1CDB3;
	color: #292929;
	font-family: Georgia, serif;
	font-size: 17px;
	letter-spacing: 1px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}
.pets__bott a:link,
.pets__bott a:visited {
	text-decoration: none;
	color: #292929;
	font-family: Georgia, serif;
}
.pets__bott:hover {
	cursor: pointer;
	background-color: #fddcc4;
}
/* POPUP */
.popup {
    display: none;
    flex-direction: column;
    z-index: 50;
    position: fixed;
    height: 552px;
    width: 952px;
    left: 52%;
    top: 39%;
    transform: translate(-50%, -50%);
}

.popup_active  {
    display: block;
}
.popup_bott {
    display: flex;
    justify-content: end;
}
.popup_bott__obj {
    width: 52px;
    height: 52px; 
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    margin-right: 10px;
}
.popup_bott__obj:hover {
    background-color: #F1CDB3;
    cursor: pointer;
}
.popup_bott__obj img {
    margin-top: 18px;
}
.popup_pet {
    width: 900px;
    height: 500px;
    display: flex;
    flex-direction: row;
    background-color: #FAFAFA;
    border-radius: 9px;
}
.popup_pet__info {
    width: 351px;
    padding-left: 30px;
    padding-top: 50px;
    text-align: left;
}
.popup_pet__features {
    width: 154px;
    height: 102px; 
    margin-left: 10px; 
}

.popup_pet__name {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #000000;
}
.popup_pet__type {
    padding-top: 10px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #000000;
}
.popup_pet__description {
    width: 350px;
    padding-top: 40px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
}

.popup_pet__features {
    padding-top: 30px;
    padding-left: 5px;
    width: 350px;
}
.popup_pet__features ul li {
    padding-top: 10px;
    color: #F1CDB3;
}

.popup_pet__features li .feature_s {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: black;
}
.feature {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: black;
}
.popup_pet__img {
    width: 500px;
    height: 500px; 
}
.popup_pet__img img {
    width: 500px;
    height: 500px; 
    border-radius: 9px;
}
.overlay_pets {
    display: none;
    background-color: rgba(41, 41, 41, 0.6);
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}
.overlay_pets__active {
    display: block;
}

/*---------- PETS 768----------------- */
@media (min-width: 768px) and (max-width: 1279px) {
    .pets_sub {
        width: 708px;
        
    }
    .slider_slide:nth-child(4) {
        display: none;
    }
    .bott-arrow:first-child {
        margin-left: 0px;
    }
    .bott-arrow:last-child {
        margin-right: 0px;
    }
    /* POPUP 768*/
    .popup {
        display: none;
        flex-direction: column;
        z-index: 50;
        position: fixed;
        height: 402px;
        width: 682px;
        left: 52%;
        top: 39%;
        transform: translate(-50%, -50%);
        transition: 0.5s;
    }

    .popup_active  {
        display: block;
    }
    .popup_bott {
        display: flex;
        justify-content: end;
    }
    .popup_bott__obj {
        width: 52px;
        height: 52px; 
        border: 2px solid #F1CDB3;
        border-radius: 100px;
        margin-right: 10px;
    }
    .popup_bott__obj:hover {
        background-color: #F1CDB3;
        cursor: pointer;
    }
    .popup_bott__obj img {
        margin-top: 18px;
    }
    .popup_pet {
        width: 630px;
        height: 350px;
        display: flex;
        flex-direction: row;
        background-color: #FAFAFA;
        border-radius: 9px;
    }
    .popup_pet__info {
        width: 260px;
        padding-left: 11px;
        padding-top: 10px;
        text-align: left;
    }
   

    .popup_pet__name {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #000000;
    }
    .popup_pet__type {
        padding-top: 7px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #000000;
    }
    .popup_pet__description {
        width: 260px;
        padding-top: 14px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 110%;
        letter-spacing: 0.06em;
    }
    .popup_pet__features {
        width: 154px;
        height: 87px; 
        margin-left: 10px; 
    }

    .popup_pet__features {
        padding-top: 14px;
        padding-left: 5px;
        width: 260px;
    }
    .popup_pet__features ul li {
        padding-top: 5px;
        color: #F1CDB3;
    }

    .popup_pet__features li .feature_s {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: black;
    }
    .feature {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: black;
    }
    .popup_pet__img {
        width: 350px;
        height: 350px; 
    }
    .popup_pet__img img {
        width: 350px;
        height: 350px; 
        border-radius: 9px;
    }
    .overlay_pets {
        display: none;
        background-color: rgba(41, 41, 41, 0.6);
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        z-index: 10;
    }
    .overlay_pets__active {
        display: block;
    }
}

/*---------- PETS 320----------------- */

@media (min-width: 320px) and (max-width: 767px) {
    .pets_sub {
        width: 300px;
        height: 791px;
        padding-top: 42px;
        padding-bottom: 42px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .slider_slide:nth-child(4) {
        display: none;
    }
    .slider_slide:nth-child(3) {
        display: none;
    }
    .bott-arrow:first-child {
        margin-left: 0px;
    }
    .bott-arrow:last-child {
        margin-right: 0px;
    }
    .slider {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 0px;
    }
    .bott-arrow {
       display: none;
    }
    .bott-arrows__alt {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 184px;
        margin-left: 58px;
        margin-top: 0px;
    }
    .bott-arrow__alt{
        display: flex;
        width: 52px;
        height: 52px;
        background: #f6f6f6;
        border: 2px solid #f1cdb3;
        color: #292929;
        display: flex;
        align-items: center;
        border-radius: 100px;
        justify-content: center;
    }
    .bott-arrow__alt:hover {
        background: #f1cdb3;
        cursor: pointer;
    }
    .pets__bott {
        margin-top: 0;
    }
    /* POPUP  320*/
    .popup {
        display: none;
        flex-direction: column;
        z-index: 50;
        position: fixed;
        height: 393px;
        width: 271px;
        left: 52%;
        top: 39%;
        transform: translate(-50%, -50%);
    }

    .popup_active  {
        display: block;
    }
    .popup_bott {
        display: flex;
        justify-content: end;
    }
    .popup_bott__obj {
        width: 52px;
        height: 52px; 
        border: 2px solid #F1CDB3;
        border-radius: 100px;
        margin-right: 0px;
    }
    .popup_bott__obj:hover {
        background-color: #F1CDB3;
        cursor: pointer;
    }
    .popup_bott__obj img {
        margin-top: 18px;
    }
    .popup_pet {
        width: 240px;
        height: 341px;
        display: flex;
        flex-direction: row;
        background-color: #FAFAFA;
        border-radius: 9px;
    }
    .popup_pet__info {
        width: 220px;
        padding-left: 10px;
        padding-top: 10px;
        text-align: left;
    }
    .popup_pet__name {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #000000;
        text-align: center;
    }
    .popup_pet__type {
        padding-top: 7px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #000000;
        text-align: center;
    }
    .popup_pet__description {
        width: 220px;
        padding-top: 10px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 110%;
        letter-spacing: 0.06em;
        text-align: justify;
    }

    .popup_pet__features {
        padding-top: 7px;
        padding-left: 5px;
        width: 220px;
    }
    .popup_pet__features {
        width: 220px;
        height: 87px; 
        margin-left: 10px; 
    }
    .popup_pet__features ul li {
        padding-top: 5px;
        color: #F1CDB3;
    }

    .popup_pet__features li .feature_s {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: black;
    }
    .feature {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: black;
    }
    .popup_pet__img {
        display: none;
        width: 500px;
        height: 500px; 
    }
    .popup_pet__img img {
        display: none;
        width: 500px;
        height: 500px; 
        border-radius: 9px;
    }
    .overlay_pets {
        display: none;
        background-color: rgba(41, 41, 41, 0.6);
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        z-index: 10;
    }
    .overlay_pets__active {
        display: block;
    }
}

/*---------- HELP ----------------- */
.help {
    display: flex;
    flex-direction: column;
    height: 611px;
    width: 1200px;
    padding-top: 80px;
    padding-bottom: 100px;
	background-color: white;
    position: relative;
    text-align: center;
    margin: 0 auto;
}
.list {
    width: 1200px;
    height: 281px;
    display: flex;
    justify-content: center;
    align-content: space-between;
    margin-top: 60px;
    flex-wrap: wrap;
}
.help__elem {
    height: 113px;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.help__elem div:last-child {
    font-family: Georgia, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

/*---------- HELP 768----------------- */
@media (min-width: 768px) and (max-width: 1279px) {
    .help {
        height: 779px;
        width: 630px;
        
    }
    .list {
        width: 630px;
        height: 449px;
        margin: 60px auto 0;
        flex-direction: row;
        align-content: space-between;
        justify-content: space-between;
    }
    .help__elem {
        width: 170px;
        
    }
    .help__elem div:last-child {
        display: flex;
        justify-content: center;
        white-space: nowrap;
    }
}

/*---------- HELP 320----------------- */
@media (min-width: 320px) and (max-width: 767px) {
    .help {
        height: 745px;
        width: 290px;
        padding-top: 42px;
        padding-bottom: 42px;
    }
    .list {
        width: 290px;
        height: 555px;
        margin: 42px auto 0;
        flex-direction: row;
        align-content: space-between;
        justify-content: space-between;
    }
    .help__elem {
        width: 130px;
        height: 87px;
        padding: 0 0;
    }
    .help__elem div:last-child {
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        font-size: 15px;
    }
    .help__elem img {
        width: 50px;
        height: 50px;
    }
}
/*---------- DONATION ----------------- */

.donation {
	background-color: #F6F6F6;
}
.donation_sub {
    display: flex;
    flex-direction: row;
    height: 462px;
    width: 1200px;
    padding-top: 80px;
    padding-bottom: 100px;
    position: relative;
    margin: 0 auto;
}
.donation__img {
    margin-left: 183px;
    width: 505px;
    height: 261px;
    margin-top: 11px; 
}
.donation__text {
    width: 380px;
    height: 282px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}
.credit-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 349px;
	border-radius: 9px;
	height: 43px;
	line-height: 52px;
	text-align: center;
	background-color: #F1CDB3;
	color: #292929;
	font-family: Georgia, serif;
	font-size: 17px;
	letter-spacing: 1px;
    text-decoration: none;
}
.credit-card a:link,
.credit-card a:visited {
	text-decoration: none;
	color: #292929;
	font-family: Georgia, serif;
}
.credit-card:hover {
	cursor: pointer;
	background-color: #fddcc4;
}
.donation__text__sub {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
}
.donation__text__card {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}
.donation__text__info {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    align-items: center;
    color: #B2B2B2;
}

/*---------- DONATION 768----------------- */
@media (min-width: 768px) and (max-width: 1279px) {
    .donation_sub {
        height: 783px;
        width: 768px;
        flex-direction: column;
    }
    .donation__text {
        margin-left: 0px;
        margin: 0 auto;
    }
    .donation__img {
        margin: 0 auto;
        margin-top: 60px;
        order: 2;
    }
}
/*---------- DONATION 320----------------- */
@media (min-width: 320px) and (max-width: 767px) {
    .donation {
        background-color: #F6F6F6;
    }
    .donation_sub {
        height: 542px;
        width: 303px;
        flex-direction: column;
        padding-top: 0px;
        padding-bottom: 0px;
        justify-content: space-evenly;
    }
    .donation__text {
        margin-left: 0px;
        margin: 0 auto;
        height: 281px;
        width: 280px;
    }
    .donation__img {
        margin: 0 auto;
        margin-top: 0px;
        order: 2;
        height: 135px;
        width: 260px;
    }
    .donation__img img {
        height: 135px;
        width: 260px;
    }
    .credit-card {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 281px;
        border-radius: 9px;
        height: 43px;
        line-height: 52px;
        text-align: center;
        background-color: #F1CDB3;
        color: #292929;
        font-family: Georgia, serif;
        letter-spacing: 1px;
        text-decoration: none;
        margin: 0 auto;
    }
    .donation__text__card {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 115%;
        align-items: center;
        letter-spacing: 0.06em;
        color: #545454;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
    }
    .donation__text__info {
        text-align: justify;
        font-size: 12px;
    }
    .donation__text__sub {
        font-size: 14px;

    }

}

/*---------- FOOTER ----------------- */

.footer {
    background: url('../../assets/images/footer-gradient-background.png')
    0 0/100% 100%;
    height: 354px;
    padding-top: 40px;
}
.footer__sub {
    display: flex;
    flex-direction: row;
    height: 310px;
    width: 1200px;
    position: relative;
    margin: 0 auto;
    justify-content: space-between;
}
.footer__quest {
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 16px;
}
.footer__visit {
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 16px;
}
.footer__img {
    width: 300px;
    height: 310px;
}
.footer__contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;  
}
.footer__text {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin-left: 20px;
}
h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: white;
}

/*---------- FOOTER 768----------------- */
@media (min-width: 768px) and (max-width: 1279px) {
    .footer {
        padding-top: 30px;
        height: 642px;
    }
    .footer__sub {
        height: 608px;
        width: 639px;
        flex-wrap: wrap;
        align-content: space-between;
    }
    .footer__img {
        margin: 0 auto;
    }
    .footer__quest {
        margin-top: 0px;
    }
    .footer__visit {
        margin-top: 0px;
    }
}

/*---------- FOOTER 320----------------- */
@media (min-width: 320px) and (max-width: 767px) {
    .footer {
        padding-top: 30px;
        height: 809px;
    }
    .footer__sub {
        height: 775px;
        width: 300px;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-between;
    }
    .footer__img {
        margin: 0 auto;
        height: 269px;
        width: 260px;
    }
    .footer__img img {
        margin: 0 auto;
        height: 269px;
        width: 260px;
    }
    .footer__quest {
        margin-top: 0px;
        margin: 0 auto;
        text-align: center;
        height: 208px;
        width: 278px;
    }
    .footer__visit {
        margin-top: 0px;
        margin: 0 auto;
        text-align: center;
        height: 222px;
        width: 300px;
    }
    h3 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: white;
    }
}
